@font-face {
    font-family: yu;
    src: url(/Heading-Now-Variable.ttf);
}
@font-face {
    font-family: ca;
    src: url(/canopi.ttf);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}
html,body{
   height: 100%;
   width:100%;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color:#000;
    overflow: hidden;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color:#191414;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color:#161616;
}
#page1 h1{
    font-size: 40vw;
    color: #fff;
    text-transform: uppercase;
    font-family: yu;
    white-space: nowrap;
    font-stretch: 270%;
    font-weight: 999;

}
#loader{
    height: 100vh;
    width: 100%;
    background-color:rgb(226, 222, 222);
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loader h1{
    font-size: 100px;
    font-family: ca;
    font-weight: 200;
}